<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB1" connectionString="Data Source=212.154.96.35;Initial Catalog=tusbetusepcom;Persist Security Info=True;User ID=fatih.karakas;Password=Dt372054!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    
    
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^tuspe.gov.tr$" />
          </conditions>
          <action type="Redirect" url="http://www.tuspe.gov.tr/{R:0}" redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>